<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>User Registration</title>
</head>

<body>
	<div align="center">
		<h1>User Registration</h1>
		<form th:action="@{/register}" method="post" id="user">
			<label>Username:</label>
			<input type="text" name="username" /><br />
			<label>Password:</label>
			<input type="password" name="password" /><br />
			<label>Fullnaem:</label>
			<input type="text" name="fullName" /><br />
			<label>Email:</label>
			<input type="text" name="email" /><br />
			<button type="submit">Register</button>
		</form>
	</div>
</body>

</html>